#landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#landing h1 {
  font-size: 15vw;
  margin: 1rem 0 0;
}

#landing .user-actions {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 1rem;
  flex-wrap: wrap;
}

#landing .user-actions a {
  text-decoration: none;
  width: 100%;
  min-width: 12rem;
  max-width: 15rem;
  margin: 1rem;
}

#landing .cta {
  justify-content: center;
  min-height: 25vh;
}

#landing h1,
#landing h2 {
  text-align: center;
}

#landing h2 {
  font-size: 10vw;
}

#landing hr {
  width: 100%;
}

#landing section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
  width: calc(100vw - 2rem);
  max-width: var(--dimensions-max-width);
}

#landing p {
  max-width: 500px;
}

#landing ul {
  list-style: none;
  padding: 0;
  width: 100%;
  max-width: 500px;
}

#landing li {
  padding: 1rem 0;
}

#landing .mdc-button {
  height: 5vw;
  min-height: 2rem;

  width: 100%;
}

#landing .cta .mdc-button__label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 2vw;
}

@media (min-width: 1500px) {
  #landing .cta .mdc-button__label {
    font-size: 2rem;
  }
}

@media (max-width: 500px) {
  #landing .cta .mdc-button__label {
    font-size: 0.75rem;
  }
}

#landing .mdc-button.crossfit {
  background: var(--color-background-crossfit);
  color: var(--color-foreground-crossfit);
}

#landing .mdc-button.powerlifting {
  background: var(--color-background-powerlifting);
  color: var(--color-foreground-powerlifting);
}

#landing .mdc-button.stronglifts {
  background: var(--color-background-stronglifts);
  color: var(--color-foreground-stronglifts);
}

#landing .mdc-button.tabata {
  background: var(--color-background-tabata);
  color: var(--color-foreground-tabata);
}
