#profile form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  width: calc(100vw - 4rem);
  padding: 2rem;
  max-width: 500px;
}

#profile .mdc-text-field {
  width: 100%;
}

#profile hr {
  height: 2rem;
  border: none;
}
