#timer-play {
  width: 100vw;
  user-select: none;
}

#timer-play #timer-details-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 1;
  height: calc(100vh - 142px);
}

#timer-play .cycles-list .cycle-list-item:not(:last-child) {
  margin-bottom: 0px;
}

@media (max-height: 480px) {
  #timer-play #timer-details-container {
    height: calc(100vh - 118px);
  }
}

@media (orientation: portrait) {
  #timer-play {
    display: flex;
    flex-direction: column;
  }
}

@media (orientation: landscape) {
  #timer-play {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
  }

  #timer-play #timer-details-container {
    height: calc(100vh - 56px);
    max-width: calc(100vw - 82px);
  }
}
