#timer-edit {
  position: relative;
  overflow: hidden;
  user-select: none;
}

#timer-edit form {
  max-width: 500px;
  width: calc(100vw - 2rem);
}

#timer-edit .flex {
  flex: 1;
}

#timer-edit .row {
  padding: 0.5rem 0;
}

#timer-edit hr {
  margin: 2rem 0;
}

#timer-edit .mdc-text-field--textarea {
  padding-top: 1rem;
}

#timer-edit .mdc-text-field--textarea .mdc-floating-label {
  top: 2rem;
  left: 1rem;
}

#timer-edit .mdc-text-field {
  background: var(--color-form-input-background);
  width: 100%;
}

#timer-edit .buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
}

#timer-edit .error {
  visibility: hidden;
  color: var(--color-form-error);
  background: var(--color-form-input-background);
  padding: 0.5rem;
}

#timer-edit .error[error] {
  visibility: visible;
}

#timer-edit .period-wrapper {
  display: flex;
}

#timer-edit .mdc-list-item {
  display: flex;
  position: relative;
  color: var(--color-form-list-color);
  padding: 0.5rem;
}

#timer-edit .time {
  margin-right: 1rem;
}

#timer-edit .mdc-list-item[type='prepare'] {
  background: var(--color-form-background-prepare);
}

#timer-edit .mdc-list-item[type='prepare'] .mdc-icon-button {
  visibility: hidden;
}

#timer-edit .mdc-list-item[type='rest'] {
  background: var(--color-form-background-rest);
}

#timer-edit .mdc-list-item[type='work'] {
  background: var(--color-form-background-work);
}

#timer-edit .buttons .mdc-icon-button {
  margin: 0 0.25rem;
}

#timer-edit .row.buttons {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 1rem;
}

#timer-edit .period-wrapper .period-controls {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  justify-content: space-around;
  align-items: center;

  background: rgba(0, 0, 0, 0.75);
}

#timer-edit .period-wrapper[is-active='false'] .period-controls {
  display: none;
}
