#timer-description {
  flex: 1;
  height: calc(100% - 2rem);
  padding: 1rem;
  text-align: center;
  overflow: auto;
}

#timer-description p {
  margin: 0 0 1rem;
}

#timer-description img {
  height: 25%;
}
