#timer-controls {
  /* position: fixed;
  bottom: 0;
  left: 0;
  right: 0; */

  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem 1rem 0rem;
  background: var(--color-gray-light);
}

#timer-controls [disabled] {
  visibility: hidden;
}
