#timer-list {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 1rem 0 0;
  height: calc(100% - 1rem);
}

#timer-list .seconds-row {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  padding: 1rem 0;
}

#timer-list .big-time {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;

  font-size: 25vw;
}

#timer-list .small-time,
#timer-list aside {
  font-size: 5vw;
}

#timer-list .small-time:before {
  content: ' / ';
}

#timer-list aside {
  display: inline;
}

#timer-list #time-details {
  display: flex;
  justify-content: space-around;
  font-size: 10vw;
}

@media (max-height: 480px) {
  #timer-list .big-time {
    font-size: 10vw;
  }

  #timer-list #cycles-list {
    display: none;
  }
}
