.period-wrapper .period-controls {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  justify-content: space-around;
  align-items: center;

  background: rgba(0, 0, 0, 0.9);
  cursor: default;
}

.period-wrapper[is-active='false'] .period-controls {
  display: none;
}

.period-wrapper[is-first='true'] .up {
  visibility: hidden;
}

.period-wrapper[is-last='true'] .down {
  visibility: hidden;
}

.period-wrapper[is-first='true'] > div {
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.period-wrapper[is-last='true'] > div {
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}

.period-wrapper .buttons {
  margin-left: 1rem;
}

.period-wrapper .buttons .mdc-checkbox,
#check-all-wrapper .mdc-checkbox {
  margin: 0 0.5rem;
}

#check-all-wrapper {
  display: flex !important;
  justify-content: flex-end !important;
}

#check-all-wrapper[can-multi-select='false'] {
  visibility: hidden;
}
