ALGOLIA_PRIVATE_API_KEY=ASDFADFAADF
FIREBASE_TOKEN=ABCDEFG
FIREBASE_TOKEN_2016=ABCDEFG
AUTH_ALGORITHM=ASDFAADF
AUTH_BASE64_SIGNER_KEY=ASDFDASF
AUTH_BASE64_SALT_SEPARATOR=ADFASDF
AUTH_ROUNDS=100
AUTH_MEM_COST=100