.list {
  background: var(--color-light-background);
  width: 100%;
}

.list,
.list .mdc-list-item__meta {
  color: var(--color-light-background-text);
}

.list .mdc-list-item__secondary-text {
  text-align: left;
}