.list {
  background: var(--color-light-background);
  width: 100%;
  overflow: hidden;
}

.list,
.list .mdc-list-item__meta {
  color: var(--color-light-background-text);
}

.list .mdc-list-item__secondary-text {
  text-align: left;
}

.timers-list {
  width: 100%;
  max-width: var(--dimensions-max-width);
}

.timers-list a {
  text-decoration: none;
}
