:root {
  /* Theme */
  /* https://material.io/tools/color/#!/?view.left=0&view.right=1&primary.color=177f62&secondary.color=BDBDBD */

  --mdc-theme-primary: #011627;
  --mdc-theme-primary-light: #2a3c4f;
  --mdc-theme-primary-dark: #000000;
  --mdc-theme-primary-text: #ffffff;

  --mdc-theme-secondary: #df2935;
  --mdc-theme-secondary-light: #ff635f;
  --mdc-theme-secondary-dark: #a5000f;
  --mdc-theme-secondary-text: #ffffff;

  --color-gray-light: #ffffff;
  --color-gray-dark: #3d3b3c;
  --color-green: #27fb6b;

  /* Fonts */
  --font-book: 'factoria', Arial, Helvetica, sans-serif;
  --font-bold: 'prohibition', Arial, Helvetica, sans-serif;
}

body {
  color: var(--mdc-theme-primary-text);
  margin: 0;
  background: var(--color-gray-dark);
  font-display: swap;
}

body,
.text-book {
  font-family: var(--font-book);
  font-weight: 500;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
.text-bold {
  font-family: var(--font-bold);
  font-weight: 400;
  font-style: normal;
}

#app-base {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.grow {
  flex-grow: 1;
}

/* MDC Patches */
.mdc-button.accent {
  background-color: var(--mdc-theme-secondary) !important;
  color: var(--mdc-theme-secondary-text) !important;
}

.mdc-text-field__input,
.mdc-text-field-helper-text,
.mdc-floating-label,
.mdc-form-field {
  font-family: var(--font-book) !important;
}
